# Python cache
__pycache__/
*.pyc

# IDE files
.idea/
.vscode/

# Virtual Environments
venv/
env/
backend/.env
env

# OS files
.DS_Store
Thumbs.db

# csv files
csvs
/csvs
.csv
*.csv


# PDFs
PDFs
.pdf
/PDFs

# Aiven credentials
ca.pem


